<ion-content [fullscreen]="true">
  <div class="info-container">
    <img src="assets/img/logo.png" alt="logo" style="width: 160px; margin: 0 auto; display: block;">
    <div class="app-description">
      Bem-vindo ao <strong>NeuroApp</strong>, o aplicativo de suporte dedicado a melhorar a vida de pessoas com <strong>doenças degenerativas</strong>.
    </div>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-button expand="block" color="primary" style="margin-top: 10px;" (click)="signIn()">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Entrar com Facebook
      </ion-button>

      <ion-button expand="block" color="light" style="margin-top: 10px;" (click)="signIn()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Entrar com Google
      </ion-button>

      <ion-button expand="block" color="dark" style="margin-top: 10px;" (click)="signIn()">
        <ion-icon slot="start" name="logo-apple"></ion-icon>
        Entrar com Apple ID
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>