<ion-content [fullscreen]="true">
  <img src="assets/img/login-bg.png" alt="logo" class="login-bg">
  <div class="info-container">
    <div class="app-description">
      <div class="welcome">Bem-vindo ao</div>
      <div class="app-name">NeuroApp</div>
      <div class="app-details">O seu assistente de doenças neurodegenerativas</div>
    </div>
    <div class="actions-container">
      <div class="button fb" (click)="signIn('facebook')"><ion-icon name="logo-facebook"></ion-icon>Entrar com Facebook</div>
      <div class="button google" (click)="signIn('google')"><ion-icon name="logo-google"></ion-icon>Entrar com Google</div>
      <div *ngIf="platform.is('ios')" class="button apple" (click)="signIn('apple')"><ion-icon name="logo-apple"></ion-icon>Entrar com Apple ID</div>
    </div>
    <div class="terms-container">
      <ion-item>
        <ion-checkbox [(ngModel)]="acceptTerms">
          <ion-label>Eu declaro que li e aceito os <a (click)="openTerms()">Termos de Uso</a> e a <a (click)="openPrivacyPolicy()">Política de Privacidade</a></ion-label>
        </ion-checkbox>
      </ion-item>
    </div>
  </div>
  <div class="credits">
    <div>Desenvolvido com carinho por: UTFPR</div>
    <div>Versão: 0.0.1</div>
  </div>
</ion-content>
