<ion-header>
  <ion-toolbar>
    <ion-title>Medicamento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-list lines="none">
      <ion-item>
        <ion-label position="floating">Nome*</ion-label>
        <ion-input
          formControlName="medication_name"
          type="text"
          errorText="{{form.controls['medication_name'].invalid ? 'Este campo é obrigatório' : false}}">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fabricante*</ion-label>
        <ion-input
          formControlName="medication_manufacturer"
          type="text"
          errorText="{{form.controls['medication_manufacturer'].invalid ? 'Este campo é obrigatório' : false}}">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-input
          formControlName="medication_description"
          type="text"
          errorText="{{form.controls['medication_description'].invalid ? 'Este campo é obrigatório' : false}}">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit">{{medicationId ? 'Atualizar' : 'Adicionar' }} Medicamento</ion-button>
  </form>

</ion-content>
