<ion-tabs>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        NeuroApp
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="signOut()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="play-circle"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="medications">
      <ion-icon name="medkit-outline"></ion-icon>
      Medicações
    </ion-tab-button>
    <ion-tab-button tab="history">
      <ion-icon name="time-outline"></ion-icon>
      Histórico
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

