<ion-tabs>
  <ion-header>
    <app-header />
  </ion-header>

  <ion-tab-bar slot="bottom">
<!--    <ion-tab-button tab="prescriptions">-->
<!--      <ion-icon name="book-outline"></ion-icon>-->
<!--      Receitas-->
<!--    </ion-tab-button>-->
    <ion-tab-button tab="medications">
      <ion-icon name="medkit-outline"></ion-icon>
      Medicações
    </ion-tab-button>
    <ion-tab-button tab="feedback-history">
      <ion-icon name="time-outline"></ion-icon>
      Histórico
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
