<ion-header>
    <ion-toolbar>
      <ion-title>Medicamento</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">Fechar</ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="prescriptionForm" *ngIf="currentStep === 1">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Nome do Doutor:</ion-label>
                <ion-input
                    formControlName="doctor_name"
                    type="text"
                ></ion-input>
            </ion-item>
            <ion-item class="date-item">
                <ion-label position="">Inicio da Receita:</ion-label>
                <ion-datetime-button datetime="datetime-start"></ion-datetime-button>

                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime
                      id="datetime-start"
                      presentation="date"
                      formControlName="issue_date"
                      [formatOptions]="{
                        date: {
                            day: '2-digit',
                            month: '2-digit',
                            year: 'numeric'
                        }
                      }"
                      displayFormat="DD/MM/YYYY"
                    ></ion-datetime>
                  </ng-template>
                </ion-modal>
            </ion-item>
            <ion-item>
                <ion-label position="">Fim da Receita:</ion-label>
                <ion-datetime-button datetime="datetime-end"></ion-datetime-button>

                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime
                      id="datetime-end"
                      presentation="date"
                      formControlName="expiration_date"
                      [formatOptions]="{
                        date: {
                            day: '2-digit',
                            month: '2-digit',
                            year: 'numeric'
                        }
                      }"
                      displayFormat="DD/MM/YYYY"
                    ></ion-datetime>
                  </ng-template>
                </ion-modal>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Descrição:</ion-label>
                <ion-textarea
                    formControlName="description"
                    rows="4"
                    maxlength="500"
                    placeholder="Escreva aqui observações"
                >
                </ion-textarea>
            </ion-item>
        </ion-list>

        <ion-button *ngIf="currentStep === 1" expand="block" (click)="nexStep()">Adicionar Medicamentos</ion-button>
    </form>
    <div *ngIf="currentStep === 2">
      <form [formGroup]="medicationForm">
        <ion-list>
          <ion-item class="medication-modal-item">
            <ion-select
              formControlName="medicationId"
              placeholder="Selecione um Medicamento"
            >
              <ion-select-option *ngFor="let med of medicationsList" [value]="med.id">{{ med.medication_name }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-row>
            <ion-col size="9">
              <ion-item>
                <ion-label position="floating">Dosagem:</ion-label>
                <ion-input 
                  type="numeric"
                  formControlName="dosage"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">              
              <ion-item class="und-item">
                mg
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-item>
            <ion-label position="floating">Informações:</ion-label>
            <ion-input 
              type="text"
              formControlName="description" 
            ></ion-input>
          </ion-item>
        </ion-list>
      </form>
      <ion-button *ngIf="currentStep === 2" (click)="addMedication()">Adicionar</ion-button>
      <ion-list>
        <ion-item *ngFor="let medication of medications.controls; let i = index">
          <ion-row>
            <ion-col>{{(i+1) + ' - '}}</ion-col>
            <ion-col>{{getMedicationName(medication.get('medicationId')?.value)}}</ion-col>
            <ion-col>{{medication.get('dosage')?.value}}</ion-col>
            <ion-col>mg</ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </div>
</ion-content>
<ion-footer>
  <ion-button *ngIf="currentStep === 2" expand="block" (click)="submit()" >Cadastrar Receita</ion-button>
</ion-footer>
