<ion-content [fullscreen]="true">
  @if(isLoadingUserInfo){
  <app-profile-skeleton />
  } @else {
  <form [formGroup]="form" class="info-container">
    <div class="form">
      <div class="image-wrapper">
        <ion-avatar class="user-image-avatar">
          <img [src]="form.get('img')!.value" alt="Foto do perfil" />
        </ion-avatar>
      </div>

      <div class="form-input-full">
        <ion-input
          aria-label="Nome Completo"
          placeholder="Nome Completo"
          class="form-input"
          formControlName="name"
        ></ion-input>
      </div>

      <div class="form-input-half">
        <ion-input
          aria-label="Idade"
          placeholder="Idade"
          type="number"
          class="form-input"
          formControlName="age"
        ></ion-input>
        <ion-select
          aria-label="Sexo"
          placeholder="Sexo"
          formControlName="sex"
          class="form-input"
          interface="popover"
          justify="space-between"
        >
          <ion-select-option value="m">Masculino</ion-select-option>
          <ion-select-option value="f">Feminino</ion-select-option>
          <ion-select-option value="o">Outro</ion-select-option>
        </ion-select>
      </div>

      <div class="form-input-half">
        <ion-input
          aria-label="Altura (cm)"
          placeholder="Altura (cm)"
          type="number"
          class="form-input"
          formControlName="height"
        ></ion-input>
        <ion-input
          aria-label="Peso (kg)"
          placeholder="Peso (kg)"
          class="form-input"
          formControlName="weight"
        ></ion-input>
      </div>

      <div class="disclaimer">
        <p>Quando você começou a tomar medicações?</p>
      </div>

      <div class="form-input-full">
        <ion-datetime-button
          class="form-input"
          datetime="datetime"
        ></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="datetime"
              formControlName="medication_started_at"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
    </div>

    <div class="button-container">
      <ion-button
        expand="block"
        color="success"
        class="submit-button"
        type="submit"
        [disabled]="form.invalid"
        (click)="submit()"
      >
        <ion-spinner *ngIf="isLoading"></ion-spinner>
        ATUALIZAR DADOS
      </ion-button>
    </div>
  </form>
  }
</ion-content>
