<ion-card class="ionCard">
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let prescriptionItem of userPrescriptions" (click)="showPrescription(prescriptionItem)">
        <ion-thumbnail slot="start">
          <ion-icon class="valid-icon" name="checkmark-done-sharp" *ngIf="validPrescription(prescriptionItem.expiration_date); else expirateIcon"></ion-icon>
          <ng-template #expirateIcon><ion-icon class="invalid-icon" name="close-sharp"></ion-icon></ng-template>
        </ion-thumbnail>
        <ion-grid>
          <ion-row>
            <div><span style="font-weight: bold;">Doutor: </span>{{prescriptionItem.doctor_name}}</div>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                <span style="font-weight: bold;">Data Inicio: </span>{{formatDate(prescriptionItem.issue_date)}}
              </div>
            </ion-col>
            <ion-col>
              <div>
                <span style="font-weight: bold;">Data Fim: </span>{{formatDate(prescriptionItem.expiration_date)}}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>